In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
# import warnings
# warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

## One tailed t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [2]:
machine = pd.read_csv('./files_for_lab/machine.txt', delimiter = '\t', encoding = "utf-16")

In [3]:
machine

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

**H0:** The new machine is equally fast as the old one. </p>
**H1:** The new machine is not equally fast as the old one.

In [4]:
import scipy.stats as st
from scipy.stats import ttest_1samp

In [5]:
machine.columns = ['New machine', 'Old machine']

In [6]:
stat, pval = ttest_1samp(machine['New machine'], np.mean(machine['Old machine']))

In [7]:
pval

0.0006966376076759033

In [8]:
stat

-5.04331853503833

Since the p-value is smaller than 0.05 we can say we have enough data to believe **H0** is not true, so we believe **H1** is correct. Since the stat value is negative, we can say that the new machine is acutally faster than the old one (since the mean time is lower).

## Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [9]:
pokemon = pd.read_csv('./files_for_lab/pokemon.csv')

In [10]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [11]:
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

p-value is bigger than 0.05 so we have evidence to assume H0 is correct.

## Part 1

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder.

1. State the null hypothesis

**H0:** There is no difference in the mean etching rate for different levels of power.

2. State the alternate hypothesis

**H1:** There is some difference in the mean etching rate for different levels of power.

3. What is the significance level

In [14]:
power = pd.read_excel('./files_for_lab/anova_lab_data.xlsx')

In [20]:
power.columns = ['Power', 'Etching Rate']

In [34]:
power['count'] = power.pivot_table(index = 'Power', aggfunc = 'cumcount')
power

    Power  Etching Rate  count
0   160 W          5.43      0
1   180 W          6.24      0
2   200 W          8.79      0
3   160 W          5.71      1
4   180 W          6.71      1
5   200 W          9.20      1
6   160 W          6.22      2
7   180 W          5.98      2
8   200 W          7.90      2
9   160 W          6.01      3
10  180 W          5.66      3
11  200 W          8.15      3
12  160 W          5.59      4
13  180 W          6.60      4
14  200 W          7.55      4

In [38]:
ppower = power.pivot(index = 'count', columns = 'Power')
ppower.columns = ['160 W', '180 W', '200 W']

In [39]:
st.f_oneway(ppower['160 W'], ppower['180 W'], ppower['200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

p_value is smaller than 0.05 so we have enough data to refuse the first hypothesis. 
The significance level = p-value.